.hero{
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.countdown{
  display: flex;
  justify-content: center;
  .container {
    max-width: 100vw;
    padding: 0 20px;
    overflow: hidden;
    font-size: 0.55rem;
    text-align: center;
    .box{
      $box-size: 5rem;
      background: black;
      width: $box-size;
      height: $box-size;
      margin: 0 auto;
      margin-bottom: 30px;

      //Flip will be some combo of....
      // transform-origin: bottom right 60px;
      // animation: rotate3d 1s forwards;
      // @keyframes rotate3d{
      //   from{transform:rotate3d(0)}
      //   to{transform:rotate3d(1,2,0,60deg)}
      // }
    }
    .label {
      color: hsl(237, 18%, 59%);
    }
  }
}
