body {
  margin: 0;
}

h1{
  text-align: center;
  margin: 0;
}

.icons {

}

.attribution, .icons {
  position: absolute;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%)
}
.attribution{
  bottom: 10px;
}
.icons{
  bottom: 30px;
  img{
    padding: 0 10px;
    cursor: pointer;
  }
}


@import './components/background.scss';
@import './components/countdown.scss';