:root{
  font-size: 24px;
 
  @media screen and (max-width: 655px) {
    font-size: 20px;
  }
  @media screen and (max-width: 600px) {
    font-size: 17px;
  }
  @media screen and (max-width: 550px) {
    font-size: 14px;
  }
  @media screen and (max-width: 530px) {
    font-size: 12px;
  }
  transition: all 0.5s;

}
body {
  margin: 0;
  font-family: 'Red Hat Text', sans-serif;
  text-transform: uppercase;
  h1, .countdown {
    letter-spacing: 4px;
  }
}

h1{
  text-align: center;
  margin: 0 20px;
  color: hsl(0, 0%, 100%);
  font-size: 1.6rem;
  padding-bottom: 3rem;
  // @media screen and (min-width: 600px) {
  //   font-size: 2rem;
  // }
  // transition: font-size 0.5s;
}

.readme {
  font-size: 15px;
  padding: 5px;
  color:hsl(237, 18%, 59%);
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.attribution, .icons {
  letter-spacing: 1px;
  position: absolute;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%)
}
.attribution{
  bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  .ad {
    color: hsl(237, 18%, 59%);
  }
  span {
    padding: 0 5px;
  }
}
.icons{
  bottom: 35px;
  img{
    transform: scale(0.8);
    padding: 0 10px;
    cursor: pointer;
  }
}


@import './components/background.scss';
@import './components/countdown.scss';